<div class="container">

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" id="email" class="form-control">

        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" id="password" class="form-control">

        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control">
        </div>

        <div class="bottom-content">
            <button class="btn btn-danger" type="submit" [disabled]="!signupForm.valid">
                <span>Submit</span>
            </button>

            <a class="login" routerLink="/auth/login" routerLinkActive="active">Login</a>
        </div>

    </form>

</div>